* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: auto; */
  }
  
  :root {
    /* so we can add all clors heree */
    /* --color--bg:  rgb(201, 170, 178); */
    --color--bg:  #f8e2e7ee;
    --color--txt: white;
    --color--icons: #d65f83;
  
  }
  
  .addItem-container {
  
    width: 45%;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px black;
    border-radius: 1em;
  
    /* align-items: center; */
    /* justify-content: center; */
    .h2 {
      margin: 1.6rem;
    }
  
    .addItem-form {

    margin: 0 1.6rem;
      .inputs {
        margin-bottom: 15px;
  
        input, textarea {
          width: 100%;
          padding: 0.5rem;
          margin-top: 0.4rem;
          border: 1px solid #c2c2c2;
          border-radius: 10px;
        }

          
        input[type="file"] {
            display: none;
          }
          
          .file-upload {
            border: 1px solid #ccc;
            border-radius: 10px;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
          }

          .file-upload:hover {
            background-color:#f8e2e7ee;
          }

      }

      .buttons{

        display: flex;
        gap: 1rem;
        margin-bottom: 1.6em;
        .addItem-btn {
          width: 100%;
          padding: 5px;
          border: none;
          border-radius: 17px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
          border: var(--color--icons) solid;
          background-color: var(--color--icons);
          color: var(--color--txt);
          cursor: pointer;
          font-size: large;
    
        }
  
        .cancel-btn {
          width: 100%;
          padding: 5px;
          border: none;
          border-radius: 17px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
          border: var(--color--icons) solid;
          background-color: var(--color--icons);
          color: var(--color--txt);
          cursor: pointer;
          font-size: large;
    
        }
      }
    }

      
  /*hide radio button thats there*/
  .radio input[type="radio"] {
    display: none;
  }

  .custom {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border: 2px solid var(--color--icons);
    margin-right: 0.6rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
  }

  .radio input[type="radio"]:checked + label .custom {
    background-color:var(--color--icons);
  }
  .radio label {
    display: flex;
    /* buttons and label on same level: */
    align-items: center; 
    cursor: pointer;
  }
 
.radio label:hover .label {
  background-color: var(--color--bg);
  padding: 3px;
  border-radius: 20px ;
}

  }
  
  