* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: auto; */
}

:root {
    /* so we can add all clors heree */
    --color--bg:  #f8e2e7ee;
    --color--txt: white;
    --color--icons: #d65f83;
}

main {

    p {
        padding: 1rem 0rem 0rem 2rem;
        
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .item {

        display: flex;
        margin: 0rem 4rem;
        justify-content: center;
        /* width: 80%; */
    
        img {
            width: 40%;
            flex-grow: 1;
            padding: 2rem;
            border-radius: 2.5rem;
        }

        p {
            padding: 0rem;
        }
    
        .details {
            flex-grow: 3;
            padding: 2rem;
            /* display: grid;
            grid-template-rows: auto auto auto auto 1fr;
            row-gap: 0.5rem; */
    
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: larger;
    
            form {
    
                display: flex;
                flex-direction: column;
                gap: 2rem;
                flex-grow: 1;
                justify-content: end;
                margin-bottom: 2rem;
    
                div {
    
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    
                }
    
                input[type="submit"] {
                    padding: 0.6rem;
                    border: var(--color--icons) solid;
                    border-radius: 2rem;
                    background: var(--color--icons);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
                    color: var(--color--txt);
                    transition-duration: 0.4s;
                    cursor: pointer;
                    font-size: larger;
                }
            }
        }    
    }
}

