* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: auto; */
}

.item {
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,auto);

    img {
        width: 80%;
        padding: 1rem;
        grid-column: 1/2;
        grid-row: 1/-1;
    }
}