* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";


      
    /* outline: auto; */
}

  
body {
    /* font-family: 'Arial', sans-serif; */
    height: 100%;
    width: 100%;
    margin: auto;
}

:root {
    /* so we can add all clors heree */
    /* --color--bg:  rgb(201, 170, 178); */
    --color--bg:  #FFC9D6;
    --color--txt: white;
    --color--icons: #E66592;

}

/* using grids for the main layout of the page */
.page {

    display: grid;  
    grid-template-columns: auto ;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "head"
    "nav"
    "main"
    "footer";

    i {
        color: var(--color--icons);
        font-size: 2rem;
    }

    .head {
        grid-area: head;
        display: flex;
        align-items: center;
        margin: 0.2rem 3rem ;
        justify-content: space-between;
        height: 5rem;

        img {
            width: 20%;
            /* padding: 4rem 0rem; */
            margin-top: 3rem;
            /* padding-right: 1rem; */
        }
        
        .search-box {

            margin: 0px 20px;
            flex-grow: 1;
            position: relative;

            .search-bar{
                padding: 10px;
                margin: 0px 20px; 
                width: 100%;
                border: 1px solid #181515;
                border-radius: 40px;
                
            }

            i {
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 0.1rem;
            }
        }
        
        .signInButton{
            border: none;
            margin: 0 0.5rem;
            background-color: white;
            padding: 0.8rem;
            border-radius: 4rem;
        }
        .signInButton:hover{
            background-color: var(--color--bg);
            cursor: pointer;
        }

        .profile-icon {
            font-size: 2.5rem;
        }
    }

    .nav {

        
        grid-area: nav;
        .flex {
            margin: 0 0 1rem 0;
            list-style: none;  
            display: flex; 
            justify-content:center; 
            li {
                border-radius: 10rem;
                padding: 0.3rem;
                
                a {
                    color: rgb(6, 5, 5);
                    text-decoration: none;
                    margin: 1rem 2.5rem;   
                    
                }
            }
            
            li:hover {
                background-color: var(--color--bg);
                cursor: pointer;                
            }
        }
    }

}
/* for all h2 fonts in the page  */
h2{
    text-align: center;
    font-size: 26px;
}

    
/* shadow for all boxes in page */
.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 0.3rem;  /* additional */
   
}

/* header
.head{
    
    
} */

/* navigation
.nav{
    
} */
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 0 2%;
    gap: 0.4rem;
    img{
        
        width: 110%;
        height: 20%;
        margin: 2%;
        border-radius: 1rem;  /* additional */
       
   }}
/* main */
.main{
    h2{
        text-align: center;
        margin: 2rem 0 1rem 0;
        font-size: 26px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 1.5rem;
        padding: 1rem; 

        .box{
            padding: 10px;
            border-radius:6px;
            /* border: 1px solid rgb(196, 196, 196);   */
            display:flex;
            flex-direction: column;
            /* justify-content: space-evenly; */
            align-items: center;
            gap: 14px;
            
            img{  
                width: 70%;
                aspect-ratio: 4 /5 ;
                border-radius: 10px;
            }
         }
    /* img:hover{
        transform: scale(1.1);
    } */
    .b:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
        border-radius: 1rem; 
        cursor: pointer;
    }}

    .us{
        
        background-color: #ECD7D7;
        color: #8e062c;
        padding: 1rem;
        h2{
            font-size: 1.45rem;
        }
        p{
            /* text-align: center; */
            font-size: 1.05rem;
        }
    }
}

.footer{
    margin-top: 2rem;
    color: white;
    background-color: #9b4552;

    display: grid;
    justify-items: center;
    
    .contact{
        h3{
        
            text-align: center;
            margin: 2rem 0 1rem 0;
        }
    }

    .fa {
        padding: 1rem;
        font-size: 2rem;
        /* width: 30px; */
        text-align: center;
        text-decoration: none;
        /* border-radius: 50%; */
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        /* background: #3B5998; */
        color: white;
      }
      
      .fa-twitter {
        /* background: #55ACEE; */
        color: white;
      }
      
      .fa-youtube {
        /* background: #bb0000; */
        color: white;
      }
      
      .fa-instagram {
        /* background: #125688; */
        color: white;
      }
      
      .fa-pinterest {
        /* background: #cb2027; */
        color: white;
      }
}


    


