* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* so we can add all clors heree */
  /* --color--bg:  rgb(201, 170, 178); */
  --color--bg:  #f8e2e7ee;
  --color--txt: white;
  --color--icons: #d65f83;

}

/* header old */
.head {
  grid-area: head;
  display: flex;
  align-items: center;
  /* margin: 0.2rem 3rem; */
  justify-content: space-between;
  height: 5rem;

  .search-bar {
    flex-grow: 1;
    padding: 10px;
    margin: 0px 20px;
    border: 1px solid #181515;
    border-radius: 40px;
  }

  .signInButton {
    border: none;
    margin: 0 0.5rem;
    background-color: white;
    padding: 0.8rem;
    border-radius: 4rem;
  }

  .signInButton:hover {
    background-color: var(--color--bg);
    cursor: pointer;
  }

}
.main{


.purchase-container {

  width: 45%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* align-items: center; */
  /* justify-content: center; */
  .h2 {
    margin: 1.6rem 0;
  }

  .purchase-form {
    .inputs {
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #c2c2c2;
        border-radius: 10px;
      }
    }

    .buttons{

      display: flex;
      gap: 1rem;
      
      .purchase-btn {
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 17px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
        border: var(--color--icons) solid;
        background-color: var(--color--icons);
        color: var(--color--txt);
        cursor: pointer;
        font-size: large;
  
      }

      .cancel-btn {
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 17px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
        border: var(--color--icons) solid;
        background-color: var(--color--icons);
        color: var(--color--txt);
        cursor: pointer;
        font-size: large;
  
      }
    }
  }

}

}

@media screen and (max-width: 40rem) {
  .main{
  .purchase-container {
    width: 80%;
  }
}
}