* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: auto; */
}

:root {
    /* so we can add all clors heree */
    --color--bg:  rgb(201, 170, 178);
    --color--txt: white;
    --color--icons: #E66592;
}

main {

h2{
    margin: 2rem;
    margin-left: 15%;
}
    .item-purchased {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
        width: 70%;
        img {
            width: 20%;
            /* flex-grow: 1; */
            padding: 1rem;
        }
        border: 2px solid black;
    .details {
            flex-grow: 2;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            font-size: larger;
    
            
        }    
    }
}

@media screen and (max-width: 40rem) {
    main {

            .item-purchased {
               flex-direction: column;
                margin: auto;
                width: 70%;
                img {
                    width: 60%;
                    align-self: center;
                    padding: 1rem;
                }
            
            }
        }
}