:root {
    /* so we can add all clors heree */
    /* --color--bg:  rgb(201, 170, 178); */
    --color--bg:  #f8e2e7ee;
    --color--txt: white;
    --color--icons: #d65f83;
  
  }

.main{
    border: 2px solid rgb(115, 113, 113);
    padding: 3rem;
    border-radius: 1rem;
    margin: 10rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:  #faeef1ee;
    img{
        width: 40%;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 3rem;
    }
}