* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    /* outline: auto; */
}


body {
    height: 100%;
    width: 100%;
    margin: auto;
}

:root {
    /* so we can add all colors here */
    --color--bg: #f8e2e7ee;
    --color--txt: white;
    --color--icons: #d65f83;
    --color--hoover: #cd879c;

}

/* using grids for the main layout of the page */
.page {


    

.title{
    margin-right: 6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 37PX;
    width: 65%;
    text-align: center;
}
    

    .head {
        width: 100%;
        grid-area: head;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'img top-bar top-bar'
            'img nav nav';
        align-items: center;
        justify-content: space-evenly;
        height: 25vh;

        img {
            grid-area: img;
            width: 94%;
            margin-left: 1rem;
        }

        img:hover {
            cursor: pointer;
        }

        .top-bar {

            display: flex;
            grid-area: top-bar;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;
            width: 96%;
            margin-left: 2rem;
            padding: 0.5rem;


            

            .signInButton {
                border: none;
                margin: 0.5rem 0rem;
                background-color: var(--color--bg);
                padding: 0.5rem 1rem;
                border-radius: 4rem;
            }

            .signInButton:hover {
                background-color: var(--color--hoover);
                cursor: pointer;
            }

        }



        .nav {


            grid-area: nav;
            margin-left: 2rem;

            .flex {
                list-style: none;
                display: flex;
                justify-content: start;
                gap: 3rem;
                margin: 0.5rem 1.5rem 1rem 2rem;

                li {
                    
                    a {
                        
                        padding: 0.8rem 0.8rem;
                        color: rgb(6, 5, 5);
                        text-decoration: none;
                        text-align: center;
                    }

                    
                }
                li:hover {
                    background-color: var(--color--bg);
                    cursor: pointer;
                    border-radius: 10rem;
                }

            }
        }
    }

    
}







/* main */
#title {
    margin: 0.3rem 1.2rem
}



@media (max-width: 48rem) {

    /* using grids for the main layout of the page */
    .page {

        .head {

            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-template-areas: 'img'
                'top-bar'
                'nav';
            height: 35%;

            img {
                width: 36%;
                margin-left: 32vw;
            }

            .top-bar {

                gap: 0rem;
                width: 95vw;
                margin-left: 0rem;
                justify-content: center;

                

            }
.title{
    width: auto;
    margin-right: 1rem;
}
            .nav {
                display: none;
                margin-left: 0rem;

                .flex {

                    justify-content: space-evenly;
                    gap: 0rem;
                    margin-top: 0rem;
                    margin-left: 0rem;
                }
            }
        }
        
    }
}