.noCard{
  margin: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 1.5rem;
}

.twoCards{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

}

.card:first-child {
  background-color:  #f5bdc9ee;
}

.card:nth-child(2) {
  background-color: #c5e3f1;
}

.card:nth-child(3) {
  background-color:#b7e2d4;
}

.card:nth-child(4) {
  background-color: #e0d2e7;
}

.cardinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardinner > .card_icon {
  font-size: 25px;
}

.maincards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.charttitle{
  font-size:25px;
  margin-top: 3rem;
  text-align: center;
}


.itemDetails {
  display: flex;
  /* color: aqua; */
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-top: 4rem;
  /* border: black; */
  padding: 0rem 1rem;
  /* text-align:justify; */
  font-size: 16px;

}
.barChart{
  margin: 2rem;
  margin-right: 1.5rem;
}

.top3{
  display: flex;
  /* flex-direction: column; */
  border: 2px solid rgb(136, 135, 135);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 4rem;
  margin-top: 1rem;

}


.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(136, 135, 135);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 4rem;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .maincards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }


}